/* Estilos generales */
.login-container {
  max-width: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px;
  background: linear-gradient(135deg, #FFE4B5, #F0E68C); /* Gradient with #FFE4B5 and #F0E68C */
  border-radius: 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Formulario */
.login-form form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 60px;
}

.input-group label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #C3A478; /* Use #C3A478 for label text */
  text-shadow: 1px 1px 2px #D2B48C; /* Use #D2B48C for the shadow */
}

.input-group input {
  width: 100%;
  padding: 14px;
  border: 2px solid #C3A478; /* Use #C3A478 for border */
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #FFE4B5; /* Use #FFE4B5 for input background */
}

.submit-button {
  padding: 14px;
  font-size: 18px;
  background-color: #D2B48C; /* Use #D2B48C for button background */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
  background-color: #C3A478; /* Darker shade on hover */
  transform: translateY(-3px);
}

.welcome-message {
  font-size: 40px;
  color: #C3A478; /* Use #C3A478 for the message text */
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 2px 2px 4px #D2B48C; /* Use #D2B48C for the shadow */
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .login-container {
    padding: 30px 20px;
    margin: 40px auto;
  }


  .welcome-message {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 20px 15px;
    margin: 20px auto;
  }

 
 
  .welcome-message {
    font-size: 28px;
  }
}
