
.login-container {
  margin: 80px auto;
  padding: 40px 30px 30px;
  background: linear-gradient(135deg, #FFE4B5, #F0E68C); /* Gradient with #FFE4B5 and #F0E68C */
  border-radius: 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.login-form form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 60px;
}

.input-group label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #201607;
  text-shadow: 1px 1px 2px #141312; 
}

.input-group input {
  width: 100%;
  padding: 14px;
  border: 2px solid #C3A478; 
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #FFE4B5; 
}

.submit-button:hover {
  background-color: #14500e; 
  transform: translateY(-3px);
}

.welcome-message {
  font-size: 40px;
  color: #C3A478; 
  margin-bottom: 30px;
  text-decoration:underline;
  text-align: center;
  text-shadow: 2px 2px 4px #D2B48C; 
}


@media (max-width: 768px) {
  .login-container {
    padding: 30px 20px;
    margin: 40px auto;
  }

  .welcome-message {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 20px 15px;
    margin: 20px auto;
  }

  .welcome-message {
    font-size: 28px;
  }
}
