/* userProfile.css */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.profile-info,
form {
  width: 100%;
  max-width: 600px; /* Aumenta el ancho máximo del contenedor */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 30px; /* Aumenta el padding interno para hacer el recuadro más grande */
  border: 1px solid #ddd; /* Color y grosor del borde */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Color de fondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada para darle un efecto de profundidad */
}

.input-group {
  margin-bottom: 20px; /* Ajusta el margen inferior de los grupos de entrada */
}

.submit-button,
.cancel-button,
.edit-button {
  margin-top: 15px; /* Ajusta el margen superior de los botones */
  padding: 12px 25px; /* Ajusta el padding de los botones */
  cursor: pointer;
}

.submit-button {
  background-color: #4CAF50; /* Color de fondo */
  color: white;
  border: none;
}

.cancel-button {
  background-color: #f44336; /* Color de fondo */
  color: white;
  border: none;
  margin-left: 10px;
}

.edit-button {
  background-color: #008CBA; /* Color de fondo */
  color: white;
  border: none;
}
