/* Estilos generales */
body {
  font-family: 'Cursive', sans-serif;
  margin: 0;
  background-color: #F0E68C; /* Amarillo claro para el fondo */
  color: #000000; /* Texto negro por defecto */
}

header {
  background-color: #C3A478; /* Café clarito para el fondo del header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative; /* Añadido para permitir que los elementos posicionados absolutamente se alineen dentro del header */
}

.header .logo {
  width: 100px;
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav a {
  color: #000000; /* Texto negro para los enlaces de navegación */
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.4s ease;
  font-weight: bold;
}

.header nav a:hover {
  color: #D2B48C; /* Color café clarito para el hover de los enlaces */
}

.header button {
  background-color: #FFE4B5; /* Beige claro para los botones */
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.header button:hover {
  background-color: #F0E68C; /* Amarillo claro en hover */
}

.contenido {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #C3A478; /* Café clarito para el contenido */
  padding: 20px;
}

h3 {
  color: #D2B48C; /* Café clarito para los títulos */
  margin: 20px 0;
}

.imagenes {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  background-color: #F0E68C; /* Amarillo claro para la galería de imágenes */
}

.imagen {
  height: 120px;
  width: 200px;
  margin-left: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carrito {
  border: 1px solid #C3A478; /* Borde café clarito */
  width: 50px;
  height: 50px; /* Asegurarse de que el carrito tenga altura definida */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFE4B5; /* Fondo beige claro para el carrito */
  border-radius: 4px; /* Esquinas redondeadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.user {
  background-color: #D2B48C; /* Café clarito para el usuario */
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

.header .formulario {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: #FFE4B5; /* Beige claro para el fondo del formulario */
  border: 1px solid #F0E68C; /* Amarillo claro para el borde del formulario */
  padding: 20px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.header .formulario form {
  display: flex;
  flex-direction: column;
}

.header .formulario .campo {
  margin-bottom: 15px;
}

.header .formulario label {
  font-weight: bold;
  color: #000000; /* Texto negro */
}

.header .formulario input {
  width: 100%;
  padding: 10px;
  border: 1px solid #F0E68C; /* Amarillo claro para el borde del input */
  border-radius: 4px;
  font-size: 14px;
}

.header .formulario button {
  background-color: #FFE4B5; /* Beige claro para el botón del formulario */
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.header .formulario button:hover {
  background-color: #F0E68C; /* Amarillo claro en hover */
}

.btn-ini-sesion {
  background-color: #FFE4B5; /* Beige claro para el botón de inicio de sesión */
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 30px;
  transition: background-color 0.3s ease;
}

.btn-ini-sesion:hover {
  background-color: #F0E68C; /* Amarillo claro en hover */
}

@media (max-width: 568px) {
  .header nav {
    flex-direction: column;
  }

  .header .formulario {
    top: 60px;
    right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .contenido {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }
}
