
body {
  font-family: Arial, sans-serif;
  background-color: #F0E68C; 
  color: #000000;
  margin: 0;
  padding: 0;
}

.cerrarCarr {
  align-items:center;
  font-size: 24px; 
  color: #D2B48C; 
  background-color: #b31e1ec4; 
  border-radius: 8%; 
  
  justify-content: center;
  display: flex;
  width: 50px; 
  height: 50px; 
  cursor: pointer; 
  margin-top: -20px;
  margin-right: -23px;
  margin-left: auto;
 
}


.carrito-contenedor {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #FFE4B5;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.no-productos {
  text-align: center;
  padding: 50px;
  color: #C3A478; 
  background-color: #FFE4B5;
  border-radius: 12px;
}

.contenido {
  display: flex;
  flex-direction: column;
}

.carritoCo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #C3A478; 
  background-color: #D2B48C; 
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.carritoCo:hover {
  transform: scale(1.03); 
}

.tamaños {
  width: 80px; 
  height: 80px; 
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}
.carritoCo p {
  margin: 0;
  color: #000000; 
  font-size: 14px; 
  max-width: 150px; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.carritoCo button {
  background-color: #C3A478; 
  color: #000000; 
  border: 2px solid #000000; 
  padding: 12px 24px; 
  margin: 5px; 
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carritoCo button:hover {
  background-color: #D2B48C; 
}

button {
  background-color: #D2B48C;
  color: #000000; 
  border: 2px solid #000000; 
  padding: 18px 30px; 
  margin: 10px; 
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #C3A478; 
}

@media (max-width: 768px) {
  .carritoCo {
    flex-direction: column;
    align-items: flex-start;
  }

  .tamaños {
    width: 60px;
    height: 60px; 
    margin-bottom: 10px;
  }

  .carritoCo p {
    font-size: 12px; 
  }

  .carritoCo button {
    margin-top: 10px;
  }
}
