body {
  font-family: Arial, sans-serif;
  background-color: #F0E68C; 
  color: #000000;
  margin: 0;
  padding: 0;
}

.cerrarCarr {
  align-items:center;
  font-size: 24px; 
  color: #D2B48C; 
  background-color: #b31e1ec4; 
  border-radius: 8%; 
  justify-content: center;
  display: flex;
  width: 50px; 
  height: 50px; 
  cursor: pointer; 
  margin-top: -20px;
  margin-right: -23px;
  margin-left: auto;
}

.carrito-contenedor {
  width: 90%;
  margin: 20px auto;
  padding: 25px;
  background-color: #FFE4B5;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.no-productos {
  text-align: center;
  padding: 50px;
  color: #000000; 
  background-color: #FFE4B5;
  border-radius: 12px;
  font-family: 'Poppins';
  font-size: 50px;
  font-weight: bold;
}

.contenido {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
 
  
}

.carritoCo {
  border: 3px solid #C3A478; 
  background-color: #D2B48C; 
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.carritoCo:hover {
  transform: scale(1.03); 
}

.tamaños {
  display: flex;
  margin-left: 130px;
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 8px;
  margin-right: 20px;
}

.carritoCo p {
  display: flex;
  margin-left: 60px;
  color: #000000; 
  font-size: 16px;
  max-width: 250px;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.carritoCo button {
  
  margin-left: 100px;
  background-color: #C3A478; 
  color: #000000; 
  border: 2px solid #000000; 
  padding: 12px 20px; 
 
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carritoCo button:hover {
  background-color: #D2B48C; 
}

button {
  background-color: #D2B48C;
  color: #000000; 
  border: 2px solid #000000; 
  padding: 18px 30px; 
  margin: 10px; 
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #C3A478; 
}

@media (max-width: 768px) {
  .carritoCo {
    flex-direction: column;
    align-items: flex-start;
  }

  .tamaños {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .carritoCo p {
    font-size: 14px;
    display: flex;
    margin-left: 100px;
  }

  .carritoCo button {
    padding: 10px 20px; /* Reducir padding en pantallas pequeñas */
    margin-top: 10px;
    width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
    box-sizing: border-box; /* Asegura que el padding y el ancho se calculen correctamente */
  }
}
