html,
body {
  background-color:rgb(162, 162, 230);
  margin: 0;
  padding: 0;
}

.titile-cabe {
  display: flex;
  margin-left: 170px;
  justify-content: center;
  color: #d5dadf; 
  padding: 20px;
  width: 94.7%;
  z-index: 1;
  cursor: pointer;
}
.search {
  display: flex;
  background-color:rgb(52, 52, 167);
  border: 2px solid #95a2eb;
  flex-direction: row;
  align-items: baseline;
}

.titulos {
  color: #d5dadf; /* Color gris claro para el texto */
  text-align: center;
}
.category-items {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll; 
  width: 100%;
}


.imagenes1,
.imagenes2,
.imagenes3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll; 
  width: 100%;
}

.product-card {
  display: flex;
  background-color: #e27196; 
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  height: 500px;
  margin: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: 1px solid #24179c; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #f5f5f5; 
  transition: all 0.3s;
  margin-bottom: 40px;
  position: relative;
}

.product-image {
  width: auto;
  max-width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 19px;
  margin-top: 10px;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.product-card h3 {
  color: #f5f5f5; 
  font-size: 14px; 
  font-weight: bold;
  margin-bottom: 8px;
}

.product-card p {
  font-size: 14px;
  color: #e0e0e0; 
  margin-bottom: 16px;
}

.product-card button {
  background-color: #080333; 
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  color: #fff; 
}

.b-comprar {
  display: flex;
  color: #fff;
  justify-content: center;
}
.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card button:hover {
  background-color: #040114;
}

.product-data {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 50%;
  overflow-y: auto;
  scrollbar-color: #7f79d3 #371a7c; 
  margin-bottom: 16px;
  margin-top: 10px;
}

.product-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.product-numbers .price {
  font-size: 24px;
  font-weight: bold;
  color: #f5f5f5; 
}

.product-numbers .price-before {
  font-size: 24px;
  font-weight: lighter;
  color: #666; 
  text-decoration: line-through;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: #4240d1; 
  color: #ffffff;
  border-radius: 50%;
  width: 50%;
  height: 40px;
  margin-right: 10px;
}

.product-data .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: #7c82cc; 
  color: #fff; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
