@import "bootstrap-icons/font/bootstrap-icons.css";

.category-container{
    text-align: center;
}
.text-gradient{
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(to right,blue,yellow, red ,green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;   
}